@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
}
ul {
  list-style-type: none;
}
/*ここまでリセット*/
header {
  background-image: url("../img/mainImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 570px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 50px 40px 0;
  box-sizing: border-box;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav li {
  margin-left: 25px;
  font-size: 1.2rem;
}
nav li a {
  color: #333;
  text-decoration: none;
}
nav li a:hover {
  color: #616161;
  text-decoration: underline;
}
.boxH1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  color: #fff;
}
.boxH1 h1 {
  font-family: 'Pacifico', cursive;
}
.boxH1 p{
	font-family: 'BIZ UDPMincho', serif;
}
main h2 {
font-family: 'Josefin Sans', sans-serif;
	font-size: 1.9rem;
}
main p {
  line-height: 3rem;
  font-size: 1.4rem;
}
.secVision {
  padding-top: 80px;
  padding-bottom: 86px;
}
.secVision h2 {
font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
}
.secVision p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.boxMessageUpper {
  display: flex;
}
.blockMessageL {
  line-height: 0;
  width: 50%;
}
.blockMessageL img {
  width: 100%;
	height: 100%;
	object-fit: cover;
}
.blockMessageR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 27px;
    padding-left: 20px;
    padding-bottom: 150px;
    padding-top: 150px;
    background-color: #f6f6f6;
    width: 50%;
    -webkit-box-sizing: border-box;
}
.blockMessageR h2 {
  margin-bottom: 40px;
}
.boxMessageUnder {
  display: flex;
}
.secConcept {
  display: flex;
  justify-content: center;
}
.box1 {
  width: 24%;
  text-align: center;
  padding-bottom: 130px;
  padding-top: 80px;
  padding-right: 50px;
}
.box1 img {
  width: 85%;
}
.box1 h2 {
  padding-bottom: 30px;
}
.box1 p {
  padding-top: 20px;
  text-align: left;
}
.box1:last-child {
  padding-right: 0;
}
.right {
  padding-right: 0;
}
.secStory {
    color: #FFFFFF;
    background-image: url(../img/bgSec04.jpg);
    display: flex;
    justify-content: center;
    padding-bottom: 145px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.secStory h2 {
  padding-bottom: 40px;
}
.secStory p {
  text-align: left;
  text-shadow: 0px 0px 15px #7B7B7B;
}
.secStory div {
  text-align: center;
  width: 32%;
}
.divStory {
  padding-right: 70px;
}
footer {
  padding: 140px 0 76px 0;
}.footerBox {
    display: flex;
	justify-content: center;
    padding-bottom: 200px;
}
.blockFooterInfo {
	flex-wrap: wrap;
	width: 30%;
	min-width: 400px;
    display: flex;
	font-size: 1.4rem;
}
.blockFooterInfo a{
    text-decoration: none;
    color: #0069ff;
}
.blockFooterInfo a:hover{
    text-decoration: none;
    color: #629BEC;
}
.blockFooterInfo dt {
    margin-right: 40px;
	width: 80px;
	text-align: right;
}
.blockFooterInfo dd {
      width:calc(100% - 80px - 40px);
}
.blockFootermap {
	width: 30%;
	min-width: 400px;
	height: 310px;
}
iframe{
	width: 100%;
	height: 100%;
}
small {
	display: block;
	text-align: center;
}

@media screen and (max-width:768px){
	body{
		color: aqua;
		background:red;
	}
	.secVision p{
		width: 80%;
	}
 .boxMessageUpper {
	flex-direction: column;
 }
	.blockMessageL{
		width: 100%;
	}
	.blockMessageR{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.boxMessageUnder{
		flex-direction: column-reverse;
	}
	.secStory{
		flex-direction: column;
		justify-content: center;
	}
	.secStory div{
		width: 75%
	}
	.divStory{
		padding-right: 0;
	}
}
